.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    }
.product:hover{
    box-shadow: -5px 12px 9px 1px rgba(36,17,17,0.43);
    -webkit-box-shadow: -5px 12px 9px 1px rgba(36,17,17,0.43);
    -moz-box-shadow: -5px 12px 9px 1px rgba(36,17,17,0.43);
    transform: translateX(-10px);
    transition: all .5s;
}
.product > img {
   max-height: 200px;
   width: 100%;
   object-fit: contain; 
   margin-bottom: 15px;
}

.product > button{
    background-color: red;
    color: white;
    margin-top: 10px;
    border: 1px solid red;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 5px;
}

.product__info{
    height: 100px;
    margin-bottom: 15px;
}

.product__rating{
    display: flex;
}